<script src="https://usetrmnl.com/js/highcharts/12.3.0/highcharts.js"></script>
<script src="https://usetrmnl.com/js/highcharts/12.3.0/pattern-fill.js"></script>

<div class="progress-bar">
  <div class="content">
    <span class="label">Remaining Credits</span>
    <span class="value value--xxsmall">{{ total_remaining | number_to_currency }} of {{ IDX_1.data.total_credits | number_to_currency }}</span>
  </div>
  <div class="track">
    <div class="fill" style="width: {{ percentage }}%"></div>
  </div>
</div>



<div id="token-bar-chart" class="w--full">

  <script type="text/javascript">

  const formattedBarData = [
  {
    name: "Completion Tokens",
    data: sortedModels.map(model => [model.model, model.completion])
  },
  {
    name: "Prompt Tokens",
    data: sortedModels.map(model => [model.model, model.prompt])
  },
  {
    name: "Reasoning Tokens",
    data: sortedModels.map(model => [model.model, model.reasoning])
  }];

  Highcharts.chart("token-bar-chart", {
    chart: {
      type: "column",
      height: 252,
      width: null,
      animation: false,
      spacing: [10, 10, 5, 10]
    },
    title: {
      text: null
    },
    plotOptions: {
      series: {
        animation: false,
        enableMouseTracking: false,
        states: {
          hover: { enabled: false }
        },
        pointPadding: 0.05,
        groupPadding: 0.1,
        borderWidth: 0
      }
    },
    series: formattedBarData.map((series, index) => ({
      data: series.data,
      name: series.name,
      zIndex: 4 - index,
      color: index === 0 ? "#000000" : {
        pattern: {
          image: `https://usetrmnl.com/images/grayscale/gray-${index + 2}.png`,
          width: 12,
          height: 12
        }
      }
    })),
    tooltip: { enabled: false },
    legend: { enabled: false },
    yAxis: {
      labels: {
        style: { fontSize: "16px", color: "#000000" }
      },
      gridLineDashStyle: "shortdot",
      gridLineWidth: 1,
      gridLineColor: "#000000",
      tickAmount: 5,
      title: {
        text: null
      }
    },
    xAxis: {
      type: "category",
      labels: {
        style: { fontSize: "16px", color: "#000000" },
        padding: 5,
        y: 25
      },
      lineWidth: 0,
      gridLineDashStyle: "dot",
      tickWidth: 0,
      tickLength: 0,
      gridLineWidth: 1,
      gridLineColor: "#000000",
      title: {
        text: null
      }
    },
    credits: {
      enabled: false
    }
  });

  </script>
</div>


<div class="grid grid--cols-3">
  <div class="item">
    <div class="meta"></div>
    <div class="content">
      <div class="w--14 h--1.5 mb--2 bg--black" style="border-radius: 20px;"></div>
      <span class="value value--large" data-value-fit="true">{{ total_completion }}</span>
      <span class="label">Total Completion Tokens</span>
    </div>
  </div>
  <div class="item">
    <div class="meta"></div>
    <div class="content">
      <div class="w--14 h--1.5 mb--2 bg--gray-2"></div>
      <span class="value value--large" data-value-fit="true">{{ total_prompt }}</span>
      <span class="label">Total Prompt Tokens</span>
    </div>
  </div>
  <div class="item">
    <div class="meta"></div>
    <div class="content">
      <div class="w--14 h--1.5 mb--2 bg--gray-4"></div>
      <span class="value value--large" data-value-fit="true">{{ total_reasoning }}</span>
      <span class="label">Total Reasoning Tokens</span>
    </div>
  </div>
</div>


<div class="pt--4"></div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Usage for {{ 30 | days_ago | date: "%B %d, %Y" }} to {{ "now" | date: "%s" | plus: trmnl.user.utc_offset | date: "%B %d, %Y"}}</span>
</div>